# intermediate files
*~
.curry
Curry_Main_Goal.curry
cpm/src/CPM/ConfigPackage.curry
*.agdai
*_cache

# executables
cpm/src/CPM.Main
cpns/CPNSD
currypp/Main
optimize/BindingOpt
runcurry/RunCurry
www/Registry
www/SubmitForm
